@mixin base-input {
  display: inline;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;

  border: 0;
  border-radius: 0;
  outline: 0 none;
  color: white;
  background-color: var(--col--shade);
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;

  transition: 0.15s ease-in-out;
}
