@import '../components/base-input';

@mixin button {
  @include base-input;

  margin: 0 0.25rem;

  border-radius: 50%;
  color: white;
  background-color: var(--col--shade);
  transform: translateY(0);

  transition: 0.15s ease-in-out;

  &:not(&--disabled):hover {
    transform: translateY(0.05em);
  }

  &--icon {
    position: absolute;
    top: 0.5rem;
    right: 0em;
    font-size: small;

    background-color: transparent;
  }
}
