@import 'src/resources/scss/components/button';
@import 'src/resources/scss/animations/fade-in-out';
@import 'src/resources/scss/animations/pop-in';

.form {
  position: relative;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  width: var(--width);
  margin: 0 auto;

  font-family: var(--font--main);

  &__explanation {
    margin-bottom: 2.5em;

    color: var(--col-dark--tertiary);
  }

  &__addition {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 1em 1em 1em 0;
    align-self: center;

    background-color: transparent;
    font-size: inherit;
    color: white;
    border: none;
    border-bottom: 2px solid var(--col-dark--tertiary);
  }

  &__selects {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--disabled {
      user-select: none;
      cursor: default;
      touch-action: none;
      pointer-events: none;

      filter: brightness(50%);
    }
  }

  &__select {
    @include base-input;

    padding: 1em;
    width: 100%;

    text-align-last: center;
    background-color: var(--col-dark--primary);
    border-radius: 0.25em;

    &:hover {
      filter: brightness(0.8);
    }

    &--from {
    }

    &--to {
    }
  }

  &__options {
    display: grid;
    grid-template-columns: 2em 1fr;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
    padding-left: 0em;
  }

  &__toggle {
    @include base-input;

    width: 1.5em;
    height: 1.5em;
    margin-right: 1.5em;

    outline: none;
    
    transition: 0.15s ease-in-out;
    
    &:focus {
      outline: none;
    }

    &:hover {
      filter: brightness(0.75);
    }
  }

  &__arrow {
    margin: 0 1em;
  }

  &__option {
    padding: 1em 0;

    transition: 0.15s ease-in-out;
    
    &:hover {
      cursor: pointer;
      text-align-last: center;
    }
  }

  &__errors {
    height: 2em;

    font-size: smalll;
    color: var(--col--error);
  }

  &__error {
    transition: 0.15s ease-in-out;

    &--active {
      animation: 2s fade-in-out ease-in-out forwards;
    }
  }

  &__button {
    @include button;
    
    &--plus {
      height: 1.75em;
      width: 2em;
      margin-left: 1em;

      border-radius: 0.25em;
      background-color: white;
      color: var(--col--shade);
  
      &:not(&--disabled):hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
    }

    &--submit {
      padding: 0.25em 0;
      width: 8em;
      margin: 0 auto;
      margin-top: 3em;
      margin-bottom: 3em;

      z-index: 15;
      border-radius: 0.25em;
      background-color: white;
      color: var(--col--shade);
      box-shadow: 0 0.05em 15px rgba(0, 0, 0, 0.3);

      &:not(&--disabled):hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
    }

    &--disabled {
      user-select: none;
      cursor: default;
      pointer-events: none;

      filter: brightness(50%);
    }
  }

  &__label {
    margin-top: 0.5em;

    color: var(--col-bright--secondary);
  }

  &__word {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 1em;
    position: relative;
    align-items: center;
    padding: 0 1em;

    background-color: var(--col-dark--primary);
    border-radius: 0.25em;

    @include pop-in;
  }

  &__language {
    opacity: 0.5;
    padding-left: 1em;
    width: 5em;

    &--label {
      padding-left: 1em;
    }
  }
}

@media (max-width:35em) {
.form {
  width: auto;
  padding: 3em 1em 0 1em;

  &__explanation {
    margin-bottom: 4em;

    text-align: center;
  }

  &__selects {
    flex-direction: column;
  }

  &__arrow {
    margin: 1em 0;
    transform: rotate(90deg);
  }

  &__addition {
    width: auto;
  }


}}
