.app {
  margin: 1em auto;
  position: relative;
  max-width: 30em;
  
  &__main {
    position: relative;

    background-color: #202020;
    color: white;
    font: var(--font--main);
  }

  &__folderol {
    // height: 50em;
  }
}
